@import url("https://fonts.googleapis.com/css2?family=Inter&family=Roboto:wght@300;400&display=swap");
.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
}

#profile_img {
  width: 88px;
  height: 88px;
  border-radius: 275px;
  content: url("../public/assets/MyPic.jpg");
}

#slack{
  display: none;
}

#share {
  display: flex;
  justify-content: flex-end;
  width: 15px;
  height: 14px;
  content: url("../public/assets/Icon.png");
}

#slack {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #101828;
}

.links_section {
  margin-top: 30px;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
  gap: 8px;
  width: 1152px;
  height: 56px;
  background: #eaecf0;
  border: 1px solid #eaecf0;
  border-radius: 8px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  text-decoration: none;
  color: #101828;
}

.icons {
  margin-top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons > img {
  width: 24px;
  padding: 20px;
  height: 24px;
}

.footer {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #667085;
}

@media screen and (max-width: 597px) {

  #share {
    width: 40px;
    height: 40px;
    content: url("../public/assets/shareMobile.png");
  }

  .links_section {
    align-items: center;
    margin-top: 0px;
    padding: 20px;
  }

  .links {
    box-sizing: border-box;
    padding: 24px 32px;
    gap: 8px;
    width: 343px;
    height: 68px;
    border-radius: 8px;
  }

  .footer {
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    gap: 10px;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #667085;
  }

  #zuri {
    height: 18px;
    width: 138px;
  }

  #i4g {
    width: 99.1px;
    height: 24px;
  }
}
